.Parent {
  height: 70vh;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 2 / 3 / 3; }
  .div3 { grid-area: 3 / 3 / 4 / 4; }
  .div4 { grid-area: 2 / 4 / 3 / 5; }
  .div5 { grid-area: 1 / 5 / 2 / 6; }
  .div6 { grid-area: 2 / 6 / 3 / 7; }
  .div7 { grid-area: 3 / 7 / 4 / 8; }
  .div8 { grid-area: 2 / 8 / 3 / 9; }
  .div9 { grid-area: 1 / 9 / 2 / 10; }
  .div10 { grid-area: 2 / 10 / 3 / 11; }
  .div11 { grid-area: 3 / 11 / 4 / 12; }

  .glass{
    background: rgba(255, 255, 255, 0.138);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px ); 
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.111);
    padding:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .item-img{
    height: 4.5rem;
  }

 .item-title{
  font-size: .75rem 
 }
            
.item-paragraph{
  font-size: 0.6rem;
}